<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="vm_form">
        <%= render 'shared/vm_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>VM list</h3>
      <h4 style="color:#848484">Details: CPU=2 / RAM=1024 </h4>
      <%= render 'shared/feed' %>
    </div>
  </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to Smart Cloud</h1>

    <h2>Creat & Manage Virtual machines !</h2>
    <img src="http://www.isn.carolineestelle.pipangaille.fr/Cloud/cloud-logo.png" alt="Mountain View" style="width:290px;height:220px;">

    </br>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails logo"),
              'http://rubyonrails.org/' %>
<% end %>

